<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>JGroat Developer Profile</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
        <div class="jg-header-title">
            <div>
                <p class="site-title">@Html.ActionLink("Johnny Groat - The Developer", "Index", "Home")</p>
            </div>
            @*<div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>*@
        </div>
        <div class="sidebar-nav">
            <div id="menu">
                <ul class="nav nav-pills nav-stacked pull-left">
                    <li id="_homeMenuItem">@Html.ActionLink("Home", "Index", "Home", new { @class="menu-sidebar" } )</li>
                    <li id="_aboutMenuItem">@Html.ActionLink("About", "About", "Home", new { @class="menu-sidebar" } )</li>
                    <li id="_contactMenuItem">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "menu-sidebar" })</li>
                    <li id="_genrefyMenuItem">@Html.ActionLink("Genrefy", "Genrefy", "Home", new { @class = "menu-sidebar" })</li>
                </ul>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="float-left content-body">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
        <footer>
        </footer>


        <script type="text/javascript">
            $(".nav").click(function () {
                $(".nav li").removeClass("active");
                $(this).addClass("active");
            });
        </script>
    </body>
</html>
