<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>JGroat Developer Profile</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="jg-header-title">
            <p class="site-title">@Html.ActionLink("Johnny Groat - The Developer", "Index", "Home")</p>
        </div>
        <div class="menu-left float-left">
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="float-left body-content">
            @RenderBody()
        </div>
        <div class="float-left">
            <span>something better freaking align</span>
                
        </div>
        <footer>
            <div class="content-wrapper">
                <div>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
    </body>
</html>
